body{
    width: 100%;
    min-height: 100%;
    background: repeating-linear-gradient( -45deg,#536adf, #02a9ff 1px,#000 1px);
    padding: 0;
    margin: 0;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border-bottom: 3px solid #000;
}
header img{
    height: 75px;
}
.kitsune{
    color: #536adf;
}
.products-link{
    font-family: Orbitron, serif;
    text-decoration: none;
    background-color: #536adf;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}
.products-link:hover{
    color: #02a9ff;
    background-color: #232323;
}
header h1 {
    margin: 0;
    font-family: Orbitron, serif;
}
footer{

    

    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    font-family: Raleway, serif;
}
.contact{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    font-family: Orbitron, serif;
    
}
.contact a{
    text-decoration: none;
    color: #000;
}
.contact a:hover{
    color: #02a9ff;
}
.about{
    width: 900px;
    
    
    
}
.about p{
    margin: 0;
}
.product-list-item{
    padding: 15px;
    text-align: center;
    font-family: Orbitron, serif;
    font-size: 32px;
    border: 2px solid #232323;
    border-radius: 5px;
    background-color: #0c0f1d;
    color: #fff;
    margin: 5px;
}
.product-list-item img{
    height: 500px;

}
.best-sellers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.product-list-subtitle{
    font-size: 20px;
}
.product-list-price{
    font-size: 24px;
}
.content h1{
    font-family: Orbitron, serif;
    text-align: center;
    margin: 30px 5px 30px 5px;
    
    background-color: #0c0f1d;
    color: #fff;
    border-radius: 5px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
.product-list .product-list-item{
    width: 410px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-input{
    color: #fff;
    background-color: #536adf;
    border: none;
    height: 35px;
    width: 350px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.search-button{
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 45px;
    padding: 5px;
    background-color: #536adf;
}
.search-button:hover{
    cursor: pointer;
    color: #536adf;
    background-color: #232323;
}
.container{
    width: 100%;
}