.description{   
    display: flex;    
}
.intro{
    max-width: 75%; 
}
.image{
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ava{
    border-radius: 50%;
}